<div class="grid">
	<div class="col-12">
	  <div class="card">
		<h5>Cases</h5>
		<p-table #dt1 [value]="cases" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" [paginator]="true" [globalFilterFields]="['case_type','patient','user','notes']" responsiveLayout="scroll">
		  <ng-template pTemplate="caption">
			<div class="flex justify-content-between flex-column sm:flex-row">
			  <span class="p-input-icon-left mb-2">
				<i class="pi pi-search"></i>
				<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
			  </span>
			  <button pButton label="Add new Case" class="p-button-outlined mb-2" icon="pi pi-filter-add" [routerLink]="['/case/add']" routerLinkActive="router-link-active"></button>
			</div>
		  </ng-template>
		  <ng-template pTemplate="header">
			<tr>
			  <th style="min-width: 12rem">
				<div class="flex justify-content-between align-items-center">
				  Case ID
				</div>
			  </th>
			  <th style="min-width: 12rem">
				<div class="flex justify-content-between align-items-center">
				  Case Type
				  <p-columnFilter type="text" field="case_type" display="menu" placeholder="Search by case type"></p-columnFilter>
				</div>
			  </th>
			  <th style="min-width: 12rem">
				<div class="flex justify-content-between align-items-center">
				  Patient Name
				  <p-columnFilter type="text" field="patient" display="menu" placeholder="Search by patient"></p-columnFilter>
				</div>
			  </th>
			  <th style="min-width: 12rem">
				<div class="flex justify-content-between align-items-center">
				  Created By
				  <p-columnFilter type="text" field="user" display="menu" placeholder="Search by user"></p-columnFilter>
				</div>
			  </th>
			  <th style="min-width: 12rem">
				<div class="flex justify-content-between align-items-center">
				  Delivery Date
				  <p-columnFilter type="date" field="delivery_date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
				</div>
			  </th>
			  <th style="min-width: 12rem">
				<div class="flex justify-content-between align-items-center">
				  Urgent
				  <p-columnFilter type="boolean" field="urgent" display="menu"></p-columnFilter>
				</div>
			  </th>
			  <th style="min-width: 12rem">
				<div class="flex justify-content-between align-items-center">
				  Notes
				  <p-columnFilter type="text" field="notes" display="menu" placeholder="Search by notes"></p-columnFilter>
				</div>
			  </th>
			  <th style="min-width: 12rem">
				<div class="flex justify-content-between align-items-center">
				  Actions
				</div>
			  </th>
			</tr>
		  </ng-template>
		  <ng-template pTemplate="body" let-case>
			<tr>
			  <td>
				{{case.id}}
			  </td>
			  <td>
				{{case.case_type}}
			  </td>
			  <td>
				{{case.patient?.name}}
			  </td>
			  <td>
				{{case.user?.username}}
			  </td>
			  <td>
				{{case.delivery_date | date: 'MM/dd/yyyy'}}
			  </td>
			  <td>
				<span [class]="case.urgent ? 'text-red-500' : 'text-green-500'">{{case.urgent ? 'Yes' : 'No'}}</span>
			  </td>
			  <td>
				{{case.notes}}
			  </td>
			  <td>
				<button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success"></button>
				<button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="confirmDeleteCase(case)"></button>
			  </td>
			</tr>
		  </ng-template>
		  <ng-template pTemplate="emptymessage">
			<tr>
			  <td colspan="8">No cases found.</td>
			</tr>
		  </ng-template>
		  <ng-template pTemplate="loadingbody">
			<tr>
			  <td colspan="8">Loading cases data. Please wait.</td>
			</tr>
		  </ng-template>
		</p-table>
		<p-confirmDialog></p-confirmDialog>
	  </div>
	</div>
  </div>
  